.wrapper-grey {
  background: #343838;
  box-shadow: 0px -7px 5px grey;
  box-shadow: 0px 7px 5px grey;
}

body {
  background-color: #F5F5F5;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.text_web_developpeur {
  font-size: 16px;
}
.web_dev_size{
  font-size: 15px;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 70px;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
}

.text-blank {
  color: #F1F1F1;
}

ul {
list-style:none;
margin-left:0;
padding-left:0;
}

.pad {
  padding-bottom: 100px;
}

.pad_skill {
  padding-bottom: 75px;
}

img {
  width: 200px;
}
.img_to_hover:hover {
  opacity: 0.6;
}

.fa {
  color: white;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}

.width_img {
  width: 465px;
  box-shadow: 10px 7px 7px grey;
}

.width_img_2 {
  width: 650px;
}

.border_line {
  border-bottom: 5px solid #04ADED;
}

.box {
    width: 400px;
    height: 500px;
}

.banner {
  background-image: linear-gradient(-50deg, rgba(0,0,0,0.0) 100%, rgba(0,0,0,0.6) 100%), url('../images/background_joe.jpg');
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0px 7px 5px grey;
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.width_img_margin {
  margin-left: 85px;
}

.width_img_0 {
  width: 60px;
}

.top {
  padding-top: 50px;
}
.top_ruby {
  padding-top: 14px;

}

.text-blue {
  color: #04ADED;
  font-size: 15px;
}

.text-black {
  color: black;
}

.bolding {
  font-size: 17px;
  font-style: bold;
}

.wrapper-grey-white {
  background: #F5F5F5;
}

.banner_link_position {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
}


/*.hvr-underline-from-left:before {
    background: white;
}

.all-child.active {
  @extend .hvr-underline-from-left:hover;
}*/

.pad-top {
  padding-top: 100px;
}

.img_name {
  width: 43px;
  margin-left: 102px;
}

.margin_link {
  margin-left: 60px;
}

.pad_link_skills {
  padding-left: 20px;
  padding-right: 20px;
}

#arrow-1 {
  bottom: 10px;
  font-size: 90px;
  position: absolute;
  color: #FFFAFF;
  right: 0;
  left: 0;
}

textarea {
  height: 11.3em;
  /*width: 967px;*/
}

.sizing {
/*  width: 967px;*/
  margin-bottom: 8px;
  padding: 10px;
}

.btn {
  padding: 7px 47px 7px 47px;
}

.img_r2m_own {
  width: 85px;
}

.img_company_own {
  width: 65px;
}
.img_wagon_own {
  width: 90px;
}
.img_lcl_own {
  width: 105px;
}

.img_rbs_own {
  width: 176px;
}
.margin_skills{
  margin-left: 100px;
}

.img_citation{
  width: 800px;
}

.little_pad_bot{
  padding-bottom: 20px;
}

.marg-bot {
  margin-bottom: 55px;
}

.width_img_3{
  width: 550px;
}

.width_img_html {
  width: 300px;
}

.font_quote {
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
}
.share-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.share-link {
  flex: 0 0 24%;
  color: white;
  font-size: 18px;
  padding: 10px 0;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
}
.share-link:hover {
    color: white;
}
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

